/*body{
    height: 100vh;
    width: 100%;
    background:linear-gradient(
        to right,
        white ,
         #1e0238 90%

    );
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
}
.section{
    height: 50%;
    margin-bottom: 20px;
}
.suby{
    height: 150px;
    width: 150px;
    background-color: #1e0238;
}
.mypix{
    width: 100%;
    height: 150px;
    border-radius: 100%;
    
    padding-left: 0px;
}
.contact{
    margin-top: 0px;
    padding-left: 20px;
    color: #1e0238;
}
.mail{
    width: 20px;
    height: 20px;
     margin-left: 20px;
     color: #1e0238;
}


.mail img{
    width: 100%;
    height: 100%;
    
    
}
.phone{
    width: 20px;
    height: 20px;
    padding-left: 20px;
    margin-top: 20px;
     color: #1e0238;

}
.phone img{
    width: 100%;
    height: 100%;
    margin-top: 40px;

}
.map{
    width: 20px;
    height: 20px;
    padding: 20px;
    margin-bottom: 20px;
     color: #1e0238;

}

.map img{
    width: 100%;
    height: 100%;
    margin-top: 70px;
}
.fb{
 
    width: 20px;
    height: 20px;
    padding: 20px;  
    margin-bottom: 10px;
     color: #1e0238;

}

.fb img{
    width: 100%;
    height: 100%;
    margin-top: 70px;
}

.ig{
 
    width: 20px;
    height: 20px;
    padding: 20px;   
        margin-bottom: 10px;
     color: #1e0238;

}


.ig img{
    width: 100%;
    height: 100%;
    margin-top: 70px;
}

.twit{
 
    width: 20px;
    height: 20px;
    padding: 20px;   
        margin-bottom: 10px;

     color: #1e0238;

}


.twit img{
    width: 100%;
    height: 100%;
    margin-top: 70px;
}
.unorder{
   padding-left: 20px;
}*/
body{
    background-image: url(images/to\ do.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
}
.mtw{
    display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 30px;
}
   
.monday{
    width: 150px;
    height: 250px;
    background: white;
    margin-left: 20px;
    border: 5px solid black;
    border-radius: 20px;
}

.tuesday{
    width: 150px;
    height: 250px;
    background: white;
    border: 5px solid black;
    border-radius: 20px;

   
    
}

.wednesday{
    width: 150px;
    height: 250px;
    background: white;

  border: 3px solid black;
    margin-right: 20px;
    border-radius: 20px;
    
}
.tfw{

    display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 30px;

}

   
.thursday{
    width: 150px;
    height: 250px;
    margin-left: 20px;
    background: white;
    border: 5px solid black;
    border-radius: 20px;

    
    
 
    
    
}

.friday{
    width: 150px;
    height: 250px;
    
    background: white;
    border: 5px solid black;
    border-radius: 20px;

}

.weekend{
    width: 150px;
    height: 250px;
    
    background: white;
    border: 5px solid black;
    margin-right: 20px;
    border-radius: 20px;

    
}
.to{
margin-left: 500px;
padding-left: 5px;

font-style: italic;

border-radius: 10px;
}
EM{
    margin-left: 50px;
}
button{border-radius: 100%;
    margin-left: 5px;
color: black;
}

@media(max-width: 480px){
    
.mtw{
    display: block;
   align-items: center;
   justify-content: center;
   margin-top: 30px;
}
.monday{
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content:center ;
    margin-left: 150px;
}

.tuesday{
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content:center ;
    margin-left: 150px;
}

.wednesday{
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content:center ;
    margin-left: 150px;
}

.tfw{
    display: block;
   align-items: center;
   justify-content: center;
   margin-top: 30px;
}

.thursday{
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content:center ;
    margin-left: 150px;
}


.friday{
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content:center ;
    margin-left: 150px;
}


.weekend{
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content:center ;
    margin-left: 150px;
}

.to{

text-decoration: underline;
font-style: italic;
border: 2px solid;

}
}
@media(min-width: 481px) and (max-width:768px){
    
.mtw{
    display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 30px;
}
.mtw Em{
    margin-right: 50px;
}

.monday{
    margin-right: 30px;
    
}
.wednesday{margin-left: 20px;}


.tfw{
    display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 30px;
}
.tfw Em{
    margin-right: 50px;
}

.thursday{
    margin-right: 30px;
    
}
.weekend{margin-left: 20px;}

}



